@import './root.css';

.Button {
  background-color: var(--blue);
  color: #ffffff;
  border: 1.5px solid var(--blue);
  border-radius: var(--spacing-1);
  padding: var(--spacing-3);
  white-space: nowrap;
  cursor: pointer;
  font-weight: var(--font-weight-semi-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  user-select: none;
}

.Button:hover {
  background-color: var(--blue-hover);
  border-color: var(--blue-hover);
}

.Button:active {
  background-color: var(--blue-active);
  border-color: var(--blue-active);
}

.Button:disabled {
  background-color: var(--greyscale-9);
  color: var(--greyscale-6);
  border-color: var(--greyscale-8);
  cursor: not-allowed;
}

.Button .Icon {
  font-size: 1.25em;
  margin-right: 0.25em;
}

.Button .Icon:only-child {
  margin-right: 0;
}
