.Widget * {
  box-sizing: content-box;
}

.Widget {
  z-index: 10000000;
  /* position: absolute; */
}

.Widget > .Button {
  background-color: white;
  color: #4c47ee;
  border: 2px dotted #4c47ee;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.Widget > .Button.Small {
  font-size: 1rem;
  padding: 0.5rem;
}

.Widget > .Button:hover {
  cursor: pointer;
  background-color: #f8f8ff;
}

.Widget > .Button > span {
  font-weight: bold;
}
.Widget > .Button > img {
  height: 1.5em;
  width: 1.5em;
  padding-right: 0.5em;
}

.Widget > .Modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-color: white;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Widget > .Modal > .x {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}
.Widget > .Modal > .x > .inner {
  position: absolute;
  left: 0.666rem;
  top: 0.5rem;
  background-color: white;
}

.Widget > .Modal > .x:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.Widget > .Modal > .inner {
  padding: 3.5rem 3rem 2.5rem 3rem;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
  margin-bottom: 15vh;
}

.Widget > .Modal > .inner > h1 {
  margin-top: 0;
}

.Widget > .Modal > .inner > .input {
  padding-bottom: 1rem;
}
.Widget > .Modal > .inner > .input > label {
  padding-right: 0.5rem;
}

.Widget > .Modal > .inner > .button {
  background-color: #4c47ee;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  color: white;
}

.Widget > .Modal > .inner > .button:hover {
  cursor: pointer;
}
